<div class="class">
    <h1>Exibindo o componente List Render</h1>
    <br>
    <h2>Linhas de Crédito Disponíveis</h2>
    <br>
    <ul>
        <li *ngFor="let creditLine of creditLines; let indexOfElement=index">
            Linha de Crédito: {{creditLine.operation}}
            <br>
            Percentual Máximo de Crédito:
            <button (click)="showLtv(creditLine)">Qual o LTV dessa operação ?</button>
            <span *ngIf="indexOfElement==i">&nbsp;&nbsp;&nbsp;&nbsp;{{creditLines[indexOfElement].ltv}}</span>
            <br><button (click)="excludeCredit(creditLine)">Excluir</button>
            <br>
            <!-- <ng-template #valueNotFound><p>Não Encontrado</p></ng-template> deixado apenas como exemplo do else do ngIf, que seria ;else #valueNotFound -->
        </li>
    </ul>
    <br>
    <br>
    <button (click)="includeCredit()">INCLUIR O FGI</button>
    <p>{{creditDetails}}</p>
</div>
