/* Estilos Gerais */

*{
  padding: 0;
  margin: 0;
  font-family: Cambria;
  /* com o parâmetro abaixo os elementos de input não passarão do tamanho desejado */
  box-sizing: border-box;
  color: #444;
}

a{
  text-decoration: none;
  color:#444;
  transition: 0.4s;
}

a:hover{
  color:#dec129;
}


/* Estilos do Formulário */

form {
  width: 450px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-group label {
  font-weight: bold;
  font-size: .9em;
  margin-bottom: .4em;
}

.form-group input, .form-group textarea
{
  padding: 0.6em;
  color: #777;
  font-size: 0.8rem;
}

input[type="submit"] {
  background-color: #efefef;
  border: none;
  padding: 0.6em 1em;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9em;
  border: 2px solid transparent;
  transition: 0.4s;
}

input[type="submit"]:hover {
  color: #dec129;
  border-color: #dec129;
  background-color: transparent;
}

.validation-error p {
  color: red;
  margin-top: 0.4em;
  border-left: 3px solid red;
  padding-left: 0.2em;
}

.edit-btn, .remove-btn {
  border: 1px solid #efefef;
  padding: .4em 1em;
  font-size: 1em;
  margin: 0 .5em;
  cursor: pointer;
  background-color: #fff;
  transition: 0.4s;
}

button fa-icon, a fa-icon {
  margin-right: 0.2em;
}

.edit-btn, .edit-btn path {
  border-color: #007BFF;
  color: #007BFF
}

.edit-btn:hover, .edit-btn:hover path {
  background-color: #007BFF;
  color: #fff
}

.remove-btn, .remove-btn path {
  border-color: #DC3545;
  color: #DC3545
}

.remove-btn:hover, .remove-btn:hover path {
  background-color: #DC3545;
  color: #fff
}
